


.lista_noticias ul li{
    width: 700px;
    height: 240px;
    list-style: none;
    display: flex;
    flex-direction: row;
    border: 10px;
    
}

.lista_noticias ul {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  
    
}

.l_titulo{
    font-size: 25px;
    font-style: italic;
}

.l_descripcion{
    color: rgb(153, 153, 153);
    font-weight: 200;
}

.l_autor{
    font-style: oblique;
}

.l_contenido{
    max-height:58px;
    
    
    overflow: hidden;
}

.l_img{
  height: 170px;
  width: 170px;
  
}

.l_2{
    padding-left: 20px;
}