{%extends 'base.html'%}
{%load static%}


{%block cuerpo%}
<head>
    <link rel="stylesheet" href="{% static 'css/inicio.css'%}">
</head>

<div class="i_contenedor">
    <h2>17 OBJETIVOS DE DESARROLLO SUSTENTABLE</h2>

<p>
    17 objetivos para transformar nuestro mundo
En 2015, la ONU aprobó la Agenda 2030 sobre el Desarrollo Sostenible, una oportunidad para que los países y sus sociedades emprendan un nuevo camino con el que mejorar la vida de todos, sin dejar a nadie atrás. La Agenda cuenta con 17 Objetivos de Desarrollo Sostenible, que incluyen desde la eliminación de la pobreza hasta el combate al cambio climático, la educación, la igualdad de la mujer, la defensa del medio ambiente o el diseño de nuestras ciudades.

En este sitio mostramos la información sobre cuáles son esos objetivos y los esfuerzos que la ONU y sus socios están llevando a cabo para construir un mundo mejor.
</p>
</div>

{%endblock cuerpo%}