{% extends 'base.html'%}
{% load static %}

{% block cuerpo %}
<head>
    <link rel="stylesheet" href="{% static 'css/noticias.css'%}">
</head>



<div class="lista_noticias">
    <ul>
        {% for e in lista%}
        <li>
       <div>
        <img class="l_img" src="{{e.imagen}}" alt="">
       </div>
       <div class="l_2">
        <h2 class="l_titulo">{{e.titulo}}</h2>
        <h4 class="l_descripcion">{{e.descripcion}}</h4>
        <div class="l_contenido">{{e.contenido | safe}}
         
        </div>
        <a href="http://localhost:8000/post/{{e.slug}}">Leer más</a>  
        <div>
        <p class="l_autor"> {{e.autor}} </p>
        <p class="l_fecha"> {{e.fecha_creacion}}</p>
        </div>
       </div>
        </li>
        {%endfor%}
    </ul>

</div>
{% if is_paginated %}
<div class="pag">
    <ul class="ul_pag">
    {% if page_obj.has_previous %}
       <li><a href="?page={{page_obj_previous_page_number}}"><i class="fas fa-caret-left"></i></a></li>
    {% endif %}
    {% for pagina in paginator.page_range %}
        <li><a href="?page={{pagina}}">{{pagina}}</a></li>
    {% endfor %}
    {%if page_obj.has_next%}
        <li><a href="?page={{page_obj_next_page_number}}"><i class="fas fa-caret-right"></i></a></li>
        {%endif%}
    </ul>
</div>
{% endif %}




{% endblock cuerpo %}

{% block busqueda%}
<div class="form">
    
    <form method="GET">{% csrf_token %}
       
            <input type="text" id="kword" name="kword" placeholder="Buscar">
       
        <button type="submit"><i class="fas fa-search"></i></button>
        
    </form>

</div>

{% endblock busqueda%}

